.root{
    -fx-background-color:#03396c ;
}

.formbox{
    -fx-background-color:#005b96;
    -fx-background-radius: 30 30 30 30;
}

.back{
    -fx-background-color:   white;
    -fx-background-radius: 5 5 5 5;
}

.back:hover{
    -fx-background-color:   #cccccc ;
    -fx-text-fill: black;
    -fx-text:Bold;
    -fx-background-radius: 5 5 5 5;
}

.back:pressed{
    -fx-background-color: #eeeeee     ;
    -fx-text-fill: black;
    -fx-text:Bold;
    -fx-background-radius: 5 5 5 5;
}