.root{
    -fx-background-color:#011f4b ;
}

.btncat{
    -fx-background-color:  #005b96;
    -fx-text-fill: white;
    -fx-background-radius: 20 20 20 20;

}

.btncat:hover{
    -fx-background-color:  #b3cde0;
    -fx-text-fill: black;
    -fx-background-radius: 20 20 20 20;

}

.btncat:pressed{
    -fx-background-color:  #005b96;
}