.root{
    -fx-background-color:#03396c ;
}

.formbox{
    -fx-background-color:#005b96;
    -fx-background-radius: 30 30 30 30;
}

.label1{
    -fx-background-color:#b3cde0;
    -fx-background-radius: 30 0 0 30;
}

.text-field1{
    -fx-background-color:#b3cde0;
    -fx-prompt-text-fill: gray;
    -fx-background-radius: 0 30 30 0;
}

.text-field1:hover{
    -fx-background-color:#03396c;
    -fx-prompt-text-fill: black;
    -fx-background-radius: 0 30 30 0;
}

.text-field1:pressed{
    -fx-background-color:gray;
    -fx-prompt-text-fill: black;
    -fx-background-radius: 0 30 30 0;
}

.btnback{
    -fx-background-color:  #005b96;
    -fx-text-fill: white;
    -fx-background-radius: 20 20 20 20;

}

.btnback:hover{
    -fx-background-color:  #b3cde0;
    -fx-text-fill: black;
    -fx-background-radius: 20 20 20 20;

}

.btnback:pressed {
    -fx-background-color: #005b96;
}

.button1{
    -fx-background-color:  #03396c ;
    -fx-text-fill: white;
    -fx-background-radius: 20 20 20 20;
}


.button1:hover{
    -fx-background-color:  #b3cde0;
    -fx-text-fill: black;
    -fx-background-radius: 20 20 20 20;

}

.button1:pressed {
    -fx-background-color: #005b96;
}